<footer>
        <img class="right-arrow-footer" src="/public/images/right-arrow.png" alt="Right arrow">
        <img class="left-arrow-footer" src="/public/images/left-arrow.png" alt="Left arrow">
        <p>Bryan Khor &copy; 2022</p>
</footer>