<header>
        <img class="right-arrow" src="/public/images/right-arrow.png" alt="Right arrow">
        <img class="left-arrow" src="/public/images/left-arrow.png" alt="Left arrow">
        <h1>Bryan's Photo App</h1>
</header>